- content_for :title, t('.title')

.block.brd
  = block_title t(".title"), "help.png"
  - if @questions.present?
    .block-content.no-brd
      %table.wp-100
        %tr
          %th.wp-90= t('.question_text')
          %th.t-center= image_tag "settings.png"
        - @questions.each do |question|
          %tr
            %td= question.text
            %td
              .left
                = link_to edit_question_path(question.id), title: t('.link_alt_edit') do
                  = image_tag "write.png"
              .right
                = link_to question_path(question.id), title: t('.link_alt_delete'), method: :delete do
                  = image_tag "cross.png"
              .cf     
  - else
    .block-content
      %p= t('.empty')
      
  - if can_admin?
    .block-buttons
      = btn_link t('.create_link'), :new_question, true, 'green'