- cls = get_comment_class_by_mark(comment.mark)
.comment[comment]{class: cls}
  .comment-title
    .comment-title-left
      - if comment.anonymously
        %span.login= t('.anonym') << ","
      - else
        %span.login= link_to "#{comment.user.login},", profile_path(comment.user.login)
      = comment.posttime.strftime('%e.%m.%Y, %H:%M')
    .comment-title-right
      %span.comment-rating.strong= "#{comment.rating}"
      = link_to "↑", comment_vote_path(comment.id, :upvote), method: :post,
        remote: true, id: 'upvote_link'
      = link_to "↓", comment_vote_path(comment.id, :downvote), method: :post,
        remote: true, id: 'downvote_link'
      - if logged? && (can_admin? || comment.user == logged_user)
        = link_to delete_comment_path(comment.id), method: :delete, confirm: t(".delete_confirm") do
          = image_tag "cross.png"
  .cf
  .comment-body= simple_format comment.body.bbcode_to_html({}, true, :enable, :bold, :italics, :underline)