.block.brd
  = block_title t('.title', login: @user.login), "user_teacher.png"
  .block-content
    %p
      %strong Тип аккаунта:
      - acctype_str = User::ACCTYPES.key(@user.account_type).to_s
      %span= t("accounts.#{acctype_str}")
    %p
      %strong ФИО:
      %span= @lecturer.full_name
    %p
      %strong Зарегистрирован:
      %span= @user.regdate.strftime('%e.%m.%Y, %H:%M')
    %p
      %strong Название кафедры:
      %span
        - if @lecturer.department
          = link_to @lecturer.department.name, department_path(@lecturer.department.id)
        - else
          Не указана
    %p
      %strong Уровень подтверждения аккаунта:
      %span= t("confirm_levels." + Lecturer::CONFIRM_LEVELS.key(@lecturer.confirm_level).to_s)
    %p
      %strong Учёная степень:
      %span= @lecturer.scientific_degree ? @lecturer.scientific_degree.title : "Не указана"
    - if @lecturer.subject_subscriptions.present?
      %hr.dashed
      %p
        %strong Ведёт следующие дисциплины:
        - @lecturer.subject_subscriptions.each do |s|
          .item= link_to s.subject.name, feedback_path(s.id)
  - if logged? && @user.login != logged_user.login
    .block-buttons
      = btn_link "Написать сообщение", messages_new_path(@user.login), true, 'green'
= render partial: 'profiles/blocks/comments_block', locals: {lecturer: @lecturer}