:coffeescript
  jQuery ->
    $('#change_confirm_level').bind 'click', () ->
      $('#conf_form').show()
      $('#change_confirm_level').hide()

/ Кафедра
%p.profile-field
  %b= Lecturer.human_attribute_name('departament') << ": "
  - if data.departament
    %span= link_to data.departament.name, departament_path(data.departament.id)
  -else
    %span= t('sessions.profile.not_specified_f')

/ Ученая степень
%p.profile-field
  %b= Lecturer.human_attribute_name('scientific_degree') << ": "
  %span= data.scientific_degree ? data.scientific_degree.title : t('sessions.profile.not_specified_f')

/ Уровень подтверждения аккаунта
%p.profile-field
  %b Уровень подтверждения аккаунта:
  %span= t("confirm_levels.#{confirm_level_text(data.confirm_level)}")
  - if can_admin?
    %span.button#change_confirm_level Изменить
    = form_tag '/admin/lecturers/set_confirmation_level', method: 'put', style: 'display: none', id: 'conf_form'  do
      = hidden_field_tag :lecturer_id, data.id
      - options = options_for_select(Lecturer::CONFIRM_LEVELS.map {|k, v| [t("confirm_levels.#{k}"), v]}, data.confirm_level)
      = select_tag :confirm_level, options
      = submit_tag "Подтвердить изменение уровня подтверждения аккаунта"