- s = Student.get_by_user(logged_user)

/ Специальность
%p.form-field
  = label_tag :specialty, Student.human_attribute_name(:specialty)
  = select_tag :specialty, |
    options_from_collection_for_select(Specialty.all, :id, :name, |
      s.specialty ? s.specialty.id : nil), :prompt => "-- Не указана"
    
/ Курс обучения
%p.form-field
  = label_tag :course, Student.human_attribute_name(:course)
  - courses_list = (1..Student::MAX_COURSE).map { |n| ["#{n} курс", n] }
  = select_tag :course, options_for_select(courses_list, s.course), :prompt => "-- Не указан"