- s = Student.get_by_user(logged_user)

/ Специальность
%p.form-field
  = label_tag :specialty, "Специальность"
  = select_tag :specialty, |
    options_from_collection_for_select(Specialty.all, :id, :name, s.specialty ? s.specialty.id : nil),
    :prompt => "-- Не указана"
    
/ Курс обучения
%p.form-field
  = label_tag :course, "Курс обучения"
  = select_tag :course, |
    options_for_select((1..5).map { |n| ["#{n} курс", n] }, s.course || nil),
    :prompt => "-- Не указана"