%h1#page-title= t('titles.change_password')

- if @user.errors.any?
  .message-box.bred
    %ul
    - @user.errors.full_messages.each do |message|
      %li= message

= form_for @user, :url => { :action => 'change_password' }, method: :put do |f|
  = f.label :password, t('.enter_new_password')
  = f.password_field :password
  = f.label :password_confirmation, t('.confirm_new_password')
  = f.password_field :password_confirmation
  %br/
  = f.submit t('.change_password_button'), :id => 'confirm-change-password'
  = link_to t('.back_to_profile_page'), :profile