/ Заголовок страницы
%h1#page-title= tm('page-title.login').capitalize

- if flash[:message]
  .message-box.bred= flash[:message]

= form_tag "/login", :method => "post" do
  %p.regform-field
    %dt= label_tag :login, "#{tc('login')}:"
    %dd= text_field_tag :login
  %p.regform-field
    %dt= label_tag :password, "#{tc('password')}:"
    %dd= password_field_tag :password
  = submit_tag "Войти в систему", :id => "login-button"