%h1#page-title= t('titles.my_options')

= form_tag(:my_options) do
  -if logged_user.student?
    = render :partial => 'student_options'
  -elsif logged_user.lecturer?
    = render :partial => 'lecturer_options'
  = submit_tag t('.confirm_button')