:coffeescript
  jQuery ->
    $('#ban_user_button').bind 'ajax:success', (evt, data, status, xhr) ->
      answer = data[0]
      if answer.success
        alert 'Пользователь был успешно забанен / разбанен'
        $('#ban_user_button').hide()
      else
        alert answer.error


%h1#page-title= t('titles.profile')

-if @user
  / Логин пользователя
  %h3#profile-login
    Профиль пользователя
    %b= "#{@user.login}"

  / Полное имя
  %p.profile-field
    %b= t('.fullname') << ": "
    %span= "#{@user.surname} #{@user.name} #{@user.patronymic}"

  / День рождения
  %p.profile-field
    %b= User.human_attribute_name('birthday') << ": "
    %span= "#{@user.birthday}"

  / Тип аккаунта
  %p.profile-field
    %b= User.human_attribute_name('account_type') << ": "
    %span= t("account_types.#{User::ACCTYPES.index(@user.account_type)}")

  - if @user.student?
    = render :partial => 'student_profile',
      :locals => { :data => Student.get_by_user(@user) }
  - elsif @user.lecturer?
    = render :partial => 'lecturer_profile',
      :locals => { :data => Lecturer.get_by_user(@user) }
  / Если просматриваемый профиль является профилей пользователя, то добавляется
  / ссылка на его редактирование
  - if logged? && @user.id == logged_user.id && User::ACCTYPES.slice(:student, :lecturer).include?(logged_user.account_type)
    %p.profile-field
      = form_tag :my_set_user_locale do
        %b= t('.used_locale') << ": "
        = select_tag :locale, options_for_select(I18n.available_locales, cookies[:locale])
        = submit_tag t('.set_locale')
    = link_to t('.edit_options_link'), :my_options

  - if can_admin?
    - link_text = @user.banned? ? "Разбанить" : "Забанить"
    - banned = @user.banned? ? "unban" : "ban"
    = link_to(link_text, { :controller => "admin/users", :action => "ban", :id => @user.id, :banned => banned }, :id => 'ban_user_button', :method => 'put', :remote => true)

-else
  .message-box.bred= t('messages.user_not_found', :login => params[:login])