:coffeescript
  jQuery ->
    $('#ban_user_button').bind 'ajax:success', (evt, data, status, xhr) ->
      resp = data[0]
      if resp.success
        alert 'Пользователь был успешно забанен / разбанен'
        $('#ban_user_button').hide()
      else
        alert resp.error


%h1#page-title= t('titles.profile')

-if @user
  / Логин пользователя
  %h3#profile-login
    Профиль пользователя
    %b= "#{@user.login}"

  / Полное имя
  - if @user.lecturer?
    %p.profile-field
      %b= t('.fullname') << ": "
      %span= Lecturer.get_by_user(@user).get_full_name

  / Тип аккаунта
  %p.profile-field
    %b= User.human_attribute_name('account_type') << ": "
    %span= t("account_types.#{User::ACCTYPES.index(@user.account_type)}")

  / Дполнительный блок с информацией
  - if @user.student?
    = render :partial => 'student_profile', :locals => { :data => Student.get_by_user(@user) }
  - elsif @user.lecturer?
    = render :partial => 'lecturer_profile', :locals => { :data => Lecturer.get_by_user(@user) }

  / Если пользователь авторизирован
  - if logged?
    / Если он просматривает чужой профиль - отобразить кнопку отправки личного сообщения
    - if @user.id != logged_user.id
      = link_to t('.send_private_message'), message_new_path(@user.id), :class => 'button'
    - else
      / Ссылка на страницу изменения пароля
      = link_to t('.change_password_link'), :my_change_password, :class => 'button'
      / Если пользователь студент или преподаватель - показать ссылку на редактирование доп. данных
      - if User.in_user_group?(@user)
        = link_to t('.edit_options_link'), :my_options, :class => 'button'
    / Если авторизированные пользователь имеет права администратора
    - if can_admin?
      %hr/
      %h2 Функции администратора
      - link_text = @user.banned? ? "Разбанить" : "Забанить"
      - banned = @user.banned? ? "unban" : "ban"
      = link_to(link_text, { :controller => "admin/users", :action => "ban", :id => @user.id, :banned => banned }, :id => 'ban_user_button', :method => 'put', :remote => true, :class => 'btn')
-else
  .message-box.bred= t('messages.user_not_found', :login => params[:login])