%h1#page-title User Profile

-if @user
  %h2= @user.login
  %p= "ФИО: #{@user.surname} #{@user.name} #{@user.patronymic}"
  - acctype = tc("acctypes.#{User::ACCTYPES.index(@user.account_type)}")
  %p= "Тип аккаунта: #{acctype}"
-else
  .message-box.bred= "Пользователь #{params[:login]} не найден"