%h1#page-title= t('titles.profile')

-if @user
  / Логин пользователя
  %h3#profile-login
    Профиль пользователя
    %b= "#{@user.login}"

  / Полное имя
  %p.profile-field
    %b= t('.fullname') << ": "
    %span= "#{@user.surname} #{@user.name} #{@user.patronymic}"

  / День рождения
  %p.profile-field
    %b= User.human_attribute_name('birthday') << ": "
    %span= "#{@user.birthday}"

  / Тип аккаунта
  %p.profile-field
    %b= User.human_attribute_name('account_type') << ": "
    %span= t("account_types.#{User::ACCTYPES.index(@user.account_type)}")

  - if @user.student?
    = render :partial => 'student_profile',
      :locals => { :data => Student.get_by_user(@user) }
  - elsif @user.lecturer?
    = render :partial => 'lecturer_profile',
      :locals => { :data => Lecturer.get_by_user(@user) }
  / Если просматриваемый профиль является профилей пользователя, то добавляется
  / ссылка на его редактирование
  - if logged? && @user.id == logged_user.id && !can_admin?
    = link_to t('.edit_options_link'), :my_options
-else
  .message-box.bred= t('messages.user_not_found', :login => params[:login])