%h1#page-title= t('titles.admin.index')

%p
  %span Всего пользователей в базе данных:
  = link_to "#{User.count}", admin_users_path
%p
  %span Из них преподавателей:
  %span= "#{Lecturer.count}"
%p
  %span Из них студентов:
  %span= "#{Student.count}"
%p
  %span Неподтвержденных преподавателей:
  %span= "#{Lecturer.count(:conditions => ["confirm_level = ?", 0])}"