%h1#page-title= t('titles.admin.users')

%ul#filter
  %li= nav_link "Все пользователи", users_path(:all)
  %li= nav_link "Модераторы", users_path(:mod)
  %li= nav_link "Студенты", users_path(:student)
  %li= nav_link "Преподаватели", users_path(:lecturer)

%table{:style => 'width: 100%'}
  %tr
    %th= User.human_attribute_name(:login)
    %th= User.human_attribute_name(:surname)
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:patronymic)
  - @users.each do |user|
    %tr
      %td= link_to user.login, profile_path(user.login)
      %td= user.surname
      %td= user.name
      %td= user.patronymic

= will_paginate @users