:coffeescript
  jQuery ->
    $('input[id^="user_account_type"]').change ->
        $('#fpatronymic').toggle("#{User::ACCTYPES[:student]}" != @value)
        $('#fpatronymic input').val("")


/ Заголовок страницы
%h1#page-title= t('titles.register')

- if @user.errors.any?
  .message-box.bred
    %ul
    - @user.errors.full_messages.each do |message|
      %li= message

/ Форма регистрации
= form_for @user, :url => { :action => 'create' },
  :html=> { :id => 'register-form' } do |f|

  / Тип аккаунта
  %p.form-field#faccountType
    = f.label User.human_attribute_name(:account_type)
    / Преподаватель
    = f.radio_button :account_type, User::ACCTYPES[:lecturer], :checked => true
    = f.label "%s_%d" % [:account_type, User::ACCTYPES[:lecturer]],
      t('account_types.lecturer'), :class => 'inline'
    / Студент
    = f.radio_button :account_type, User::ACCTYPES[:student]
    = f.label "%s_%d" % [:account_type, User::ACCTYPES[:student]],
      t('account_types.student'), :class => 'inline'

  / Логин
  %p.form-field#flogin
    = f.label :login, User.human_attribute_name(:login)
    = f.text_field :login

  / Пароль
  %p.form-field#fpassword
    = f.label :password, User.human_attribute_name(:password)
    = f.password_field :password

  / Подтверждение пароля
  %p.form-field#fpasswordconfirmation
    = f.label :password_confirmation, User.human_attribute_name(:password_confirmation)
    = f.password_field :password_confirmation
    
  / Имя
  %p.form-field#fname
    = f.label :name, User.human_attribute_name(:name)
    = f.text_field :name

  / Фамилия
  %p.form-field#fsurname
    = f.label :surname, User.human_attribute_name(:surname)
    = f.text_field :surname

  / Отчество
  %p.form-field#fpatronymic
    = f.label :patronymic, User.human_attribute_name(:patronymic)
    = f.text_field :patronymic

  / День рождения
  %p.form-field#fbirthday
    = f.label :birthday, User.human_attribute_name(:birthday)
    = f.date_select :birthday,
      :start_year => Time.now.year - 90,
      :end_year => Time.now.year - 10,
      :default => { :year => 2000 },
      :order => [:day, :month, :year]

  = f.submit :id => "register-button"