:coffeescript
  jQuery ->
    # Устанавливает порядок поле для ввода имени и фамилии
    set_name_fileds_position = (account_type) ->
      if account_type == "#{User::ACCTYPES[:student]}"
        $('#fname').insertBefore('#fsurname')
      else if account_type == "#{User::ACCTYPES[:lecturer]}"
        $('#fsurname').insertBefore('#fname')

    $('input[name^="user[account_type]"]').bind 'change', () ->
        $('#fpatronymic').toggle("#{User::ACCTYPES[:student]}" != @value)
        $('#fpatronymic input').val("")
        set_name_fileds_position @value

/ Заголовок страницы
%h1#page-title= t('titles.register')

= render :partial => "shared/errors", :locals => { :obj => @user }

/ Форма регистрации
= form_for @user, :url => { :action => 'create' },
  :html=> { :id => 'register-form' } do |f|

  / Тип аккаунта
  %p.form-field#faccountType
    = f.label User.human_attribute_name(:account_type)
    / Студент
    = f.radio_button :account_type, User::ACCTYPES[:student], :id => 'user_student', :checked => true 
    = f.label 'student', t('account_types.student'), :class => 'inline'
    / Преподаватель
    = f.radio_button :account_type, User::ACCTYPES[:lecturer], :id => 'user_lecturer'
    = f.label 'lecturer', t('account_types.lecturer'), :class => 'inline'

  / Логин
  %p.form-field#flogin
    = f.label :login, User.human_attribute_name(:login)
    = f.text_field :login

  / Пароль
  %p.form-field#fpassword
    = f.label :password, User.human_attribute_name(:password)
    = f.password_field :password

  / Подтверждение пароля
  %p.form-field#fpasswordconfirmation
    = f.label :password_confirmation, User.human_attribute_name(:password_confirmation)
    = f.password_field :password_confirmation
   
  / Имя
  %p.form-field#fname
    = f.label :name, User.human_attribute_name(:name)
    = f.text_field :name
    
  / Фамилия
  %p.form-field#fsurname
    = f.label :surname, User.human_attribute_name(:surname)
    = f.text_field :surname

  / Отчество
  %p.form-field.hidden#fpatronymic
    = f.label :patronymic, User.human_attribute_name(:patronymic)
    = f.text_field :patronymic

  = f.submit :id => "register-button"