:coffeescript
  jQuery ->
    $("input[name='user[account_type]']").change () ->
      if @id is 'user_student'
        $('.lecturer-req').removeClass('required')
      else
        $('.lecturer-req').addClass('required')

.block.brd.b-center.wpx-500
  = block_title t('.title'), "signup.png"
  = form_for @user, url: { action: :register } do |f|
    .block-content

      - if @user.errors.any?
        = render partial: 'shared/errors', locals: { errors: @user.errors }

      / Тип аккаунта
      .form-field
        = f.label :account_type, User.human_attribute_name(:account_type)
        #account_type_wrapper.switch.candy.green.wp-100
          = f.radio_button :account_type, User::ACCTYPES[:student], id: :user_student,
            checked: @user.account_type == nil || @user.account_type == User::ACCTYPES[:student]
          = f.label 'student', t('accounts.student')
          = f.radio_button :account_type, User::ACCTYPES[:lecturer], id: :user_lecturer
          = f.label 'lecturer', t('accounts.lecturer')
          .slide-button

      / Логин
      .form-field
        = f.label :login, User.human_attribute_name(:login), class: 'required'
        = f.text_field :login, class: 'wp-100'
        .form-field-hint= t('.hint_login')

      / Пароль
      .form-field
        = f.label :password, User.human_attribute_name(:password), class: 'required'
        = f.password_field :password, class: 'wp-100'
        .form-field-hint= t('.hint_password')

      / Подтверждение пароля
      .form-field
        = f.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: 'required'
        = f.password_field :password_confirmation, class: 'wp-100'

      / Фамилия
      .form-field
        = f.label :surname, User.human_attribute_name(:surname), class: 'lecturer-req'
        = f.text_field :surname, class: 'wp-100'
        .form-field-hint= t('.hint_name')

      / Имя
      .form-field
        = f.label :name, User.human_attribute_name(:name), class: 'lecturer-req'
        = f.text_field :name, class: 'wp-100'

      / Отчество
      .form-field
        = f.label :patronymic, User.human_attribute_name(:patronymic), class: 'lecturer-req'
        = f.text_field :patronymic, class: 'wp-100'

      - if SiteGlobal.invite_reg
        / Инвайт
        .form-field
          = label_tag :invite, "Приглашение", class: 'required'
          = text_field_tag :invite, params[:invite], class: 'wp-100'

    .block-buttons
      = f.submit class: 'btn-green'