- cls = comment_class_by_mark(comment.mark)
%div.comment{class: cls}
  %p.title
    - unless comment.anonymously
      %span.left-c= link_to comment.user.login, profile_path(comment.user.login)
    - else
      %span.left-c.anonymous Аноним
    %span.right-c
      = comment.posttime.strftime('%0e.%0m.%Y, %H:%M')
      - can_vote = logged? && logged_user.student? && comment.user != logged_user
      - if can_vote
        = link_to "-", comment_vote_path(comment.id, 'downvote'), method: "post"
      %span.rating{class: vote_class_by_rating(comment.rating)}= comment.rating
      - if can_vote
        = link_to "+", comment_vote_path(comment.id, 'upvote'), method: "post"
      - if can_admin? || comment.user_id == logged_user.id
        = link_to "[x]", delete_comment_path(comment.id), method: 'delete', confirm: "Точняк?"
  %div{style: "clear: both;"}
  %p.body= comment.body