- content_for :title, t('.title')

:coffeescript
  jQuery ->
    $('#show-new-news-form').click () ->
      $(@).hide()
      $('#new-news-item-form').show 0, -> $.scrollTo(@, 100)

.block.brd
  = block_title t('.title'), "news.png"
  .block-content
    = messages
    #new-news-item-form.hidden
      = form_tag "news", method: :post do
        .form-field
          = text_area_tag 'news_item[text]', "", class: 'wp-100', style: "height: 200px"
          .form-field-hint Можно использовать BB-код
        = submit_tag "Сохранить", class: "compact btn-green"
    #news-block
      - @news.each_with_index do |item, index|
        %h3= item.posttime.strftime('%d.%m.%Y')
        %p= simple_format item.text.bbcode_to_html
        - unless index + 1 == @news.length
          %hr.dashed
    - if logged? && can_admin?
      %button.right#show-new-news-form Добавить новость
    .cf