%h1#page-title= t('titles.index')

- if flash[:notice]
  .message-box.bred= flash[:notice]

- if logged?
  %li
    Вы вошли как
    =link_to "#{logged_user.login}", profile_path(logged_user.login)
- else
  Вы не авторизированы в системе. Тем не менее, вы можете
  = link_to "войти", :login
  %span или
  = link_to "зарегистрироваться", :register