.block.brd
  = block_title t('.title'), "spec.png"
  .block-content
    %div
      %h3.left= @specialty.name     
      %h3.right{style: 'color: #338811'}= "#{@specialty.code}"
    .cf
    %hr.dashed/
    %h3= t('.description') << ': '
    %p= simple_format @specialty.description
  -if can_admin?
    .block-buttons
      .left
        = link_to "â† #{t('.back_to_specialty')}", :specialties
      .right
        = btn_link t('.edit_link'), edit_specialty_path(@specialty.id), true, 'green'
        = btn_link t('.delete_link'), specialty_path(@specialty.id), true, 'red',
          method: :delete, confirm: t('.delete_link_confirm')
      .cf