= render layout: 'settings/panel', locals: {title: t('settings.change_password.title')} do
  = form_for @user, url: {action: 'change_password'}, method: 'put' do |f|
    .block-content
      = messages
      - if @user.errors.any?
        = render partial: 'shared/errors', locals: { errors: @user.errors }
      .form-field
        = label_tag :current_password, t('settings.change_password.current_password')
        = password_field_tag :current_password, nil, class: 'wpx-300'
      .form-field
        = f.label :password, t('settings.change_password.new_password')
        = f.password_field :password, class: 'wpx-300'
        .form-field-hint.wpx-300= t('settings.change_password.password_hint')
      .form-field
        = f.label :password_confirmation, t('settings.change_password.confirm_new_password')
        = f.password_field :password_confirmation, class: 'wpx-300'
    .block-buttons
      = f.submit t('settings.change_password.confirm_button'), class: "btn-green"