%table.wp-100
  %tr
    %th.wp-5
    %th.wp-50= PrivateMessage.human_attribute_name('title')
    - if inbox
      %th.wp-25= PrivateMessage.human_attribute_name('sender')
    - else
      %th.wp-25= PrivateMessage.human_attribute_name('receiver')
    %th.wp-20= PrivateMessage.human_attribute_name('sendtime')
  - if message_list.present?
    - message_list.each do |message|
      - row_class = 'highlighted' unless message.read
      %tr{class: row_class}
        %td.first= image_tag (message.read) ? "mail_read.png" : "mail_unread.png"
        - title_class = 'strong' unless message.read
        %td= link_to message.title, messages_path(message.id), class: title_class
        - if inbox
          - if message.sender.present?
            %td= link_to message.sender.login, profile_path(message.sender.login)
          - else
            %td= t(".unknown_user")
        -else 
          - if message.receiver.present?
            %td= link_to message.receiver.login, profile_path(message.receiver.login)
          - else
            %td= t(".unknown_user")
        %td= message.sendtime.strftime('%e.%m.%Y, %H:%M')
  - else
    %tr
      %td{colspan: 4}= t('.empty')