%h1#page-title!= "Сообщение от пользователя #{user_login(@message.sender_id, false)}"

%p
  Заголовок сообщения:
  %b= @message.title
%p= @message.body
- if (@type == 'inbox') && (@message.sender_id != User::SYSTEM_ACCOUNT_ID)
  = link_to "Ответить на это сообщение", message_new_path(@message.id), :class => 'button'
= link_to "Удалить это сообщение", message_delete_path(@message.id), :method => :delete, :class => 'button'