%h1#page-title= "Личное сообщение от #{@message.sender.login}"

%p
  Заголовок сообщения:
  %b= @message.title
%p= @message.body
= link_to "Ответить на это сообщение", message_new_path(@message.sender_id)