- content_for :title, t('.title', login: @message.sender.login)

.block.brd
  = block_title t('.title', login: @message.sender.login), "mail.png"
  .block-content
    %span
      = PrivateMessage.human_attribute_name(:title) << ": "
      %strong= @message.title
    %hr.dashed/
    %p= simple_format @message.body
  .block-buttons
    .left
      - if @type == :inbox
        = link_to "← #{t('.back_to_inbox')}", :inbox
      - else
        = link_to "← #{t('.back_to_outbox')}", :outbox
    .right
      - if @type == :inbox
        = btn_link t('.reply'), messages_new_path(@message.id), true, 'green'
      = btn_link t('.delete'), messages_delete_path(@message.id), true, 'red', method: 'delete'
    .cf