= form_for @departament do |f|
  .block-content
    - if @departament.errors.any?
      = render partial: 'shared/errors', locals: { errors: @departament.errors }
    .form-field
      = f.label :name, Departament.human_attribute_name("name")
      = f.text_field :name, class: 'wp-95'
    .form-field
      = f.label :description, Departament.human_attribute_name("description")
      = f.text_area :description, class: 'wp-95'
  .block-buttons
    = f.submit class: 'btn-green'
    - unless @departament.new_record?
      = btn_link t('.cancel'), departament_path(@departament.id), false, 'blue'