= render :partial => 'shared/errors', :locals => { :obj => @departament }

= form_for @departament do |f|
  %p.form-field
    = f.label :name, Departament.human_attribute_name("name")
    = f.text_field :name
  %p.form-field
    = f.label :description, Departament.human_attribute_name("description")
    = f.text_area :description, :size => "60x9"
  %p.form-field
    = f.submit