.block.brd
  = block_title t('.title'), "depart.png"
  .block-content
    %h3= @departament.name
    %ul.compact
      %li= link_to t('.list_lecturers_link'), :departament_lecturers
      %li= link_to t('.list_subjects_link'), :departament_subjects
    %h3= t('.description') << ': '
    %p= simple_format @departament.description

  -if can_admin?
    .block-buttons
      .left
        = link_to "â† #{t('.back_to_departaments')}", :departaments
      .right
        = btn_link t('.edit_link'), edit_departament_path(@departament.id), true, 'green'
        = btn_link t('.delete_link'), departament_path(@departament.id), true, 'red',
          method: :delete, confirm: t('.delete_link_confirm')
      .cf