%h1#page-title= @departament.name

= link_to "Список преподавателей на этой кафедре", :departament_lecturers

%p= simple_format @departament.description

%p
  = link_to "Редактировать информацию о кафедре",
    edit_departament_path(@departament.id)
%p
  = link_to "Удалить информацию о кафедре", departament_path(@departament.id),
    :method => :delete,
    :confirm => "Вы уверены, что хотите удалить информацию об этой кафедре?"