= form_tag login_path(back: 1), method: 'post' do
  .form-field
    = label_tag :login, User.human_attribute_name(:login)
    .t-center= text_field_tag :login, nil, class: 'wp-100 compact'
  .form-field
    = label_tag :password, User.human_attribute_name(:password)
    .t-center= password_field_tag :password, nil, class: 'wp-100 compact'
  %div{style:'text-align: center'}
    = submit_tag "Войти", class: "button compact btn-green wp-100"
%hr.dashed/
= link_to "У меня ещё нет аккаунта", :register