.block
  = block_title t(".title"), "sitemap.png"
  .block-content
    %ul
      %li
        = image_tag "depart.png"
        = link_to t(".departments"), :departments
      %li
        = image_tag "spec.png"
        = link_to t(".specialties"), :specialties
      %li
        = image_tag "subject.png"
        = link_to t(".subjects"), :subjects
      %hr.dashed.compact/
      %li
        = image_tag "user.png"
        = link_to t(".user"), users_path(:all)
      %li
        = image_tag "help.png"
        = link_to t(".faq"), home_path(:faq)
      %li
        = image_tag "information.png"
        = link_to t(".about"), home_path(:about)