= form_for @subject do |f|
  .block-content
    - if @subject.errors.any?
      = render partial: 'shared/errors', locals: { errors: @subject.errors }
    .form-field
      = f.label :name, Subject.human_attribute_name("name")
      = f.text_field :name, class: 'wp-95'
    .form-field
      = f.label :description, Subject.human_attribute_name("description")
      = f.text_area :description, class: 'wp-95', style: 'width: 150px'
    .form-field
      = f.label :departament_id, Subject.human_attribute_name("departament")
      = f.select :departament_id, options_from_collection_for_select(Departament.all, :id, :name)
  .block-buttons
    = f.submit class: 'btn-green'
    - unless @subject.new_record?
      = btn_link t('.cancel'), subject_path(@subject.id), false, 'blue'