.feedback
  .feedback-title
    .left
      Отзыв от пользователя 
      %span.strong= feedback.student.user.login
    .right
      = feedback.time.strftime('%e.%m.%Y, %H:%M')
      = link_to feedback_destroy_path(feedback.id), method: :delete do
        = image_tag "cross.png", class: "remove-feedback"
    .cf
  .feedback-content
    %table
      %tr
        %th.wp-95 Вопрос
        %th Оценка
      - feedback.feedback_answers.each do |a|
        - if a.question.present?
          %tr
            %td= a.question.text
            - cls = "rating-#{a.answer}"
            %td.t-center.answer-rating{class: cls}= "#{a.answer} / 5"