%h1#page-title= "Отзывы к дисциплине «#{@subscription.subject.name}», которую ведёт преподаватель #{@subscription.lecturer.get_full_name}"

%p
  %b Кто ведёт:
  = @subscription.lecturer.user.login
%p
  %b Что ведёт:
  = @subscription.subject.name
%p
  %b Где ведёт:
  = @subscription.subject.departament.name

%h2 Место для отзывов