- content_for :title, t('.title')

- f = @subscription.feedbacks.collect(&:id)
- data = FeedbackAnswer.where(feedback_id: f).average(:answer, group: 'question')
:javascript
  $(function () {
    $('.chart').highcharts({
        chart: { type: 'bar' },
        title: { text: '#{t('.chart_title')}' },
        xAxis: { categories: #{data.keys.map(&:text)} },
        yAxis: {
          min: 0,
          max: 5,
          minorTickLength: 10,
          title: { text: '#{t('.chart_avg')}' }
        },
        legend: { enabled: false },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.x +'</b><br/>' +
              'В среднем: '+ this.y.toFixed(2) + " балла"
          }
        },
        plotOptions: {
          column: { stacking: 'normal' }
        },
        series: [
          {data: #{data.values.map(&:to_f)} },
        ]
    });
  });

.block.brd
  = block_title t('.title'), "spec.png"
  .block-content
    %p
      %span.strong= Lecturer.model_name.human << ":"
      = link_to @subscription.lecturer.full_name, profile_path(@subscription.lecturer.user.login)
    %p
      %span.strong= Subject.model_name.human << ":"
      = @subscription.subject.name
    - if @subscription.feedbacks.present?
      %hr.dotted
      .chart.wp-100{style: "height: 300px"}
      %h3= t('.recent_feedbacks') << ": "
      = render partial: 'feedbacks', locals: {feedbacks: @subscription.feedbacks}
      = link_to t(".all_feedbacks"), feedbacks_all_path(@subscription.id)
  - if logged_user.student?
    .block-buttons
      = btn_link t(".add_feedback"), new_feedback_path(@subscription.id), true, 'green'