%h1#page-title= t('titles.admin.users')

%table{:style => 'width: 100%'}
  %tr
    %th ID
    %th= User.human_attribute_name(:login)
    %th= User.human_attribute_name(:birthday)
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:surname)
    %th= User.human_attribute_name(:patronymic)
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.login
        %td= user.birthday
        %td= user.name
        %td= user.surname
        %td= user.patronymic

= will_paginate @users