!!! 5

%html
  %head
    %title Feedback 1.2 Beta
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .wrapper
      %header
        = link_to :root do
          #logo
        %nav
          %ul
            - if logged?
              %li= nav_link t('layout.menu.settings'), :settings
              %li= nav_link t('layout.menu.logout'), :logout
            - else
              %li= nav_link t('layout.menu.register'), :register
              %li= nav_link t('layout.menu.login'), :login
      #page-content
        = content_start do
          = yield
        = render partial: 'layouts/sidebar' if has_sidebar?
      .cf
      .push

    %footer
      #footer-left
        = t('layout.footer.left_text')
        = link_to "[ua]", set_locale_path(:ua)
        = link_to "[ru]", set_locale_path(:ru)
        = link_to "[en]", set_locale_path(:en)
      #footer-right
        = t('layout.footer.right_text')