!!! 5

%html
  %head
    %title Feedback++
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    :coffeescript
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
    = csrf_meta_tags
  %body
    / Шапка сайта
    #header
      #headline
        %p= link_to "Feedback++", :root
      #menu
        %ul
          - unless exists_admin_account?
            %li= link_to t('layout.menu.create_admin'), :create_admin,
              :id => 'create_admin_account_link'
          %li= link_to t('layout.menu.home'), :root
          %li= link_to t('layout.menu.about'), :about
          %li= link_to t('layout.menu.faq'), :faq
          - if logged?
            - if can_admin?
              %li= link_to t('layout.menu.admin'), :admin_root
            %li
              = link_to t('layout.menu.messages'), :inbox
              -if (messages = unread_messages_count) > 0
                %span#unread-messages-count= "(#{unread_messages_count})"
            %li= link_to t('layout.menu.departaments'), :info_departaments
            %li= link_to t('layout.menu.profile'), :profile
            %li= link_to t('layout.menu.logout'), :logout
          -else
            %li= link_to t('layout.menu.register'), :register
            %li= link_to t('layout.menu.login'), :login
    / Контент страницы
    #content-box
      #content
        = yield
    / Подвал сайта
    #footer
      %p#left-text
        Feedback++, 2013
      %p#right-text
        Команда разработчиков
        %b «Quart»