!!! 5

%html
  %head
    %title Feedback
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      #header
        #logo
          %h1= link_to "Feedback++", :root
        #menu
          %ul
            - if logged?
              %li!= "Logged as, " << link_to(logged_user.login, :profile)
              %li= link_to "Logout", :logout
            - else
              %li= link_to "Login", :login
              %li= link_to "Register", :register
      .spacer
      #content
        =yield