!!! 5

%html
  %head
    %title= yield(:title) << " — Feedback++"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .wrapper
      %header
        = link_to :root do
          #full-logo
            - pics = get_random_users
            #user-1{style: "background-image: url(/assets/user_pack/#{pics[0]})"}
            #dialog
            #user-2{style: "background-image: url(/assets/user_pack/#{pics[1]})"}
            #logo
      #page-content
        = content_start do
          = yield
        = render partial: 'layouts/sidebar' if has_sidebar?
      .cf
      .push

    %footer
      #line
      #footer-left
        = t('layout.footer.left_text')
      #locale-switcher
        = link_to set_locale_path(:ua), title: "Українська" do
          = image_tag "flags/flag_ukraine.png"
        = link_to set_locale_path(:ru), title: "Русский" do
          = image_tag "flags/flag_russia.png"
        = link_to set_locale_path(:en), title: "English" do
          = image_tag "flags/flag_great_britain.png"
      #footer-right
        = link_to "[исходный код]", "https://github.com/segrived/fbpp"
        = t('layout.footer.right_text')