!!! 5

%html
  %head
    %title Feedback++
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    :coffeescript
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
    = csrf_meta_tags
  %body
    / Шапка сайта
    #header
      #headline
        %p= link_to "Feedback++", :root
      #menu
        %ul
          - unless exists_admin_account?
            %li= nav_link t('layout.menu.create_admin'), :create_admin, 'create_admin_account_link'
          %li= nav_link t('layout.menu.home'), :root
          %li= nav_link t('layout.menu.specialties'), :specialties
          %li= nav_link t('layout.menu.departaments'), :departaments
          - if logged?
            %li
              = nav_link t('layout.menu.messages'), :inbox
              - text = (unread_messages > 0) ? "(#{unread_messages})" : ""
              %span#unread-messages-count= text
            %li= nav_link t('layout.menu.users'), users_path(:all)
            %li
              = nav_link t('layout.menu.profile'), profile_path(logged_user.login)
            %li= nav_link t('layout.menu.logout'), :logout
          -else
            %li= nav_link t('layout.menu.register'), :register
            %li= nav_link t('layout.menu.login'), :login
    / Контент страницы
    #content-box
      #content
        = yield
    / Подвал сайта
    #footer
      %p#left-text
        Feedback++, 2013
        %span#links
          = nav_link t('layout.menu.about'), :about
          = nav_link t('layout.menu.faq'), :faq
      %p#right-text
        Команда разработчиков
        %b «Quart»